    /* Container */
    #floating-buttons {
        position: fixed;
        bottom: 20px;
        right: 20px;
        display: flex;
        flex-direction: column;
        gap: 10px; /* space between buttons */
        z-index: 9999; /* stay on top */
    }
    
    /* All buttons */
    #floating-buttons .fab {
        display: flex;
        justify-content: center;
        align-items: center;
        width: 65px;
        height: 65px;
        border-radius: 50%;
        color: white;
        font-size: 22px;
        text-decoration: none;
        box-shadow: 0 4px 6px rgba(0,0,0,0.2);
        transition: background 0.3s ease;
    }

    #floating-buttons .fab {
        font-size: 35px; /* bigger icon */
    }
    
    /* Button colors */
    #floating-buttons .fab-info {
        background: #f0c60b; /* blue */
    }
    #floating-buttons .fab-info:hover {
        background: #c09e09;
    }
    
    #floating-buttons .fab-whatsapp {
        background: #25D366; /* WhatsApp green */
    }
    #floating-buttons .fab-whatsapp:hover {
        background: #1da851;
    }
    
    #floating-buttons .fab-phone {
        background: #3e93e2; /* green */
    }
    #floating-buttons .fab-phone:hover {
        background: #2d6da8;
    }

    @media (max-width: 480px) {
        #floating-buttons {
            bottom: 15px;
            right: 15px;
            gap: 8px;
        }
        #floating-buttons .fab {
            width: 55px;  /* smaller circle */
            height: 55px;
            font-size: 28px; /* smaller icon */
        }
    }