:root {
    --primary-color: rgb(26,64,121);
    --secondary-color: #e63946;
    --text-color: #333;
    --light-bg: #f5f5f5;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

body {
    line-height: 1.6;
    color: var(--text-color);
    margin: 0;
    background: #fff;
}


html {
    scroll-behavior: smooth;
}
