









@media (max-width:480px) {

    .contact-section {
        width: 100% !important;
        
    }

    .contact-container {
        display: flex !important;
        flex-direction: column !important;
        align-items: center !important;
        width: 100% !important;
        margin: 0 !important;
        
       
    }

    .contact-info-iletisim {
        width: 100% !important;
        margin: 0 auto !important;
    }




        .contact-info-iletisim span,
        .contact-desc,
        .contact-hours {
            font-size: 0.9rem !important;
        }


        .contact-form h2 {
            font-size: 1.5rem !important;
            text-align: center !important;
        }

        .map-section-il {
            margin: 0 auto !important;
            padding: 0 !important;
        }

        .map-container-il iframe {
            width:300px !important;
            height:200px !important;
            margin: 0 auto !important;
           
        }
}

@media (max-width:375px) {

    .main-section h1 {
        margin-top:0 !important;
    }


    .main-section {
        width:100% !important;
        
    }

    .contact-section {
        width: 100% !important;
        margin: 0 auto !important;
        padding: 0 !important;
        margin-top:2rem !important;
    }

    .contact-container {
        display: flex !important;
        flex-direction: column !important;
        align-items: center !important;
        width: 100% !important;
        padding: 0 !important;
        margin: 0 auto !important;
        
       
    }

    .contact-info-iletisim {
        margin: 0 auto !important;
        width: 300px !important;
    }




        .contact-info-iletisim span,
        .contact-desc,
        .contact-hours {
            font-size: 0.84rem !important;
        }




        .map-section-il {
            margin: 0 auto !important;
            padding: 0 !important;
        }

        .map-container-il iframe {
            width:300px !important;
            height:200px !important;
            margin: 0 auto !important;
            margin-top: 2rem !important;
           
        }


        .contact-form {
            width:300px !important;
        }
        .contact-form h2 {
            font-size: 1.5rem !important;
            text-align: center !important;
        }


        .contact-form .form-group label,
        .submit-btn {
            font-size:0.9rem !important;
        }
        .contact-form .form-group input {
            font-size:0.8rem !important;
        }
}