



@media (max-width: 1200px) {
    .info-section h1 {
        font-size:2.3rem !important;
    }

    .info-section h2 {
        font-size:1.6rem !important;
    }
    .info-section p {
        font-size:1.11rem !important;
    }

    .info-section ul li {
        font-size:1.11rem !important;
    }
    .whatsapp-btn-inside {
        font-size:1.11rem !important;
    }
}



@media (max-width: 1024px) {
    .info-section h1 {
        font-size:2.3rem !important;
    }

    .info-section h2 {
        font-size:1.6rem !important;
    }
    .info-section p {
        font-size:1.1rem !important;
    }

    .info-section ul li {
        font-size:1.1rem !important;
    }
    .whatsapp-btn-inside {
        font-size:1.1rem !important;
    }
}



@media (max-width: 768px) {
    .info-section h1 {
        font-size:2.23rem !important;
    }

    .info-section h2 {
        font-size:1.6rem !important;
    }
    .info-section p {
        font-size:1.12rem !important;
    }

    .info-section ul li {
        font-size:1.12rem !important;
    }
    .whatsapp-btn-inside {
        font-size:1.12rem !important;
    }
}


@media (max-width: 600px) {
    .info-section h1 {
        font-size:2.15rem !important;
    }

    .info-section h2 {
        font-size:1.54rem !important;
    }
    .info-section p {
        font-size:1.07rem !important;
    }

    .info-section ul li {
        font-size:1.07rem !important;
    }
    .whatsapp-btn-inside {
        font-size:1.07rem !important;
    }
}






@media (max-width: 480px) {
    .info-section h1 {
        font-size:1.85rem !important;
    }

    .info-section h2 {
        font-size:1.3rem !important;
    }
    .info-section p {
        font-size:1.05rem !important;
    }

    .info-section ul li {
        font-size:0.9rem !important;
    }
    .whatsapp-btn-inside {
        font-size:0.9rem !important;
    }
}



@media (max-width: 375px) {
    .info-section h1 {
        font-size:1.95rem !important;
    }

    .info-section h2 {
        font-size:1.4rem !important;
    }
    .info-section p {
        font-size:0.98rem !important;
    }

    .info-section ul li {
        font-size:0.98rem !important;
    }
    .whatsapp-btn-inside {
        font-size:0.98rem !important;
    }

}

