
                                                                                    /* MAX 1024 */
@media (max-width:1024px) {
    .image-section {
        display: grid !important;
        grid-template-columns: 1fr !important;
        gap:1rem !important;
    }

    .image-section img {
        width: 90% !important;
        height:auto !important;
        margin: 0 auto !important;
    }

    .info-section h1 {
        font-size: 2rem !important;
    }

    .info-section h2 {
        font-size: 1.44rem !important;
    }


    .info-section p,
    .info-section ul,
    .info-section li {
        font-size: 1rem !important;
    }

    .whatsapp-btn-inside {
        font-size: 1rem !important;
    }

}


                                                                                    /* MAX 768 */
@media (max-width:768px) {
    .image-section {
        display: grid !important;
        grid-template-columns: 1fr !important;
        gap:1rem !important;
    }

    .image-section img {
        width: 80% !important;
        height:auto !important;
        margin: 0 auto !important;
    }

    .info-section h1 {
        font-size: 1.95rem !important;
    }

    .info-section h2 {
        font-size: 1.4rem !important;
    }


    .info-section p,
    .info-section ul,
    .info-section li {
        font-size: 0.98rem !important;
    }

    .whatsapp-btn-inside {
        font-size:0.98rem !important;
    }

}



                                                                                    /* MAX 600 */
@media (max-width:600px) {
    .image-section {
        display: grid !important;
        grid-template-columns: 1fr !important;
        gap:1rem !important;
    }

    .image-section img {
        width: 90% !important;
        height:auto !important;
        margin: 0 auto !important;
    }

    .info-section h1 {
        font-size: 1.9rem !important;
    }

    .info-section h2 {
        font-size: 1.35rem !important;
    }


    .info-section p,
    .info-section ul,
    .info-section li {
        font-size: 0.95rem !important;
    }

    .whatsapp-btn-inside {
        font-size:0.95rem !important;
    }

}



                                                                                    /* MAX 480 */
@media (max-width:480px) {
    .image-section {
        display: grid !important;
        grid-template-columns: 1fr !important;
        gap:1rem !important;
    }

    .image-section img {
        width: 90% !important;
        height:auto !important;
        margin: 0 auto !important;
    }

    .info-section h1 {
        font-size: 1.85rem !important;
    }

    .info-section h2 {
        font-size: 1.3rem !important;
    }


    .info-section p,
    .info-section ul,
    .info-section li {
        font-size: 0.9rem !important;
    }

    .whatsapp-btn-inside {
        font-size:0.9rem !important;
    }

}




                                                                                    /* MAX 375 */
@media (max-width:375px) {
    .image-section {
        display: grid !important;
        grid-template-columns: 1fr !important;
        gap:1rem !important;
    }

    .image-section img {
        width: 90% !important;
        height:auto !important;
        margin: 0 auto !important;
    }

    .info-section h1 {
        font-size: 1.8rem !important;
    }

    .info-section h2 {
        font-size: 1.2rem !important;
    }


    .info-section p,
    .info-section ul,
    .info-section li {
        font-size: 0.84rem !important;
    }

    .whatsapp-btn-inside {
        font-size:0.84rem !important;
    }

}
